.quote blockquote {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  box-sizing: border-box;
  padding: 100px 80px 80px;
  text-align: center;
  align-items: center;
  justify-content: center; 
  background-color: #d8d7d0;
}

.quote-quotation {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
  width: 1100px;
  align-items: center;
  justify-content: center;
 
}

.quote .quote-quotation > p:first-child {
  font-size: 40px;
  font-family: Antarctica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: center;
  display: inline;
}


.quote .quote-quotation > p:last-child:not(:only-child) {
  color: #947F5F;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .06em;
  text-align: center;
  display: block;
}

/* Style italic text in quotation - remove italics and make green */
.quote .quote-quotation em,
.quote .quote-quotation i {
  color: #6b7e7c;
  font-style: normal;
}

/* Style underline text in quotation - remove underline and make brown */
.quote .quote-quotation u {
  color: #695D5B;
  text-decoration: none;
}

/* Style bold text in quotation - remove bold and make grey */
.quote .quote-quotation strong,
.quote .quote-quotation b {
  color: #947F5F;
  font-weight: normal;
}

@media (width >= 900px) {
  .quote blockquote {
    padding: 100px 80px;
    align-items: center;
    justify-content: center;
  }
}



.quote blockquote .quote-attribution {
  text-align: right;
}

