body.map-landing .default-content-wrapper p.button-container {
    display: flex;
    justify-content: end;
}

body.map-landing .default-content-wrapper p.button-container a.button {
    background-image: url('/icons/btn_arbres_back.svg');
    float: right;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 18px;
    letter-spacing: .1em;
    font-weight: 400 !important;
    background-color: unset;
    color: var(--site-color-2);
}


body.map-landing .section.pale-grey-bg {
    background-color: var(--news-bg-page);
    padding: 0;
    margin: 0;
}

body.map-landing .section.pale-grey-bg .cards-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
    height: auto;
    min-height: 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: var(--map-carte-icone-container);
    margin: 0;
}

body.map-landing .section.pale-grey-bg .map-wrapper {
    height: 1064.44px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

@media (width >= 900px) {
    body.map-landing .section.pale-grey-bg .cards-wrapper {
        height: 1064.44px;
        width: 250px;
        float: left;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    body.map-landing .default-content-wrapper p.button-container a.button {
        font-size: 36px;
    }
}