/* featured-projects.css */
.featured-projects.block {
    margin-bottom: 50px;
}

.featured-projects.block .cards.block.featured ul {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .12em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px; 
}

.featured-projects.block h2 {
    margin: 0;
    padding: 30px 0;
}

.featured-projects.block .cards.block.featured ul li {
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.featured-projects.block .cards.block.featured ul .cards-card-image p {
    margin: 0;
}

.featured-projects.block .cards.block.featured ul a:has(.image-container) {
    color: var(--site-color-2);
    transition: color 0.5s;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.featured-projects.block .cards.block.featured ul .image-container {
    width: 100%;
    background-size: cover;
    display: inline-block;
    position: relative;
}

.featured-projects.block .cards.block.featured ul .image-container img {
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.featured-projects.block .cards.block.featured ul .projets-listing-partners {
    font-size: 14px;
    line-height: 1.2em;
}

.featured-projects.block .cards.block.featured ul .projets-listing-infos {
    font-size: 14px;
}

.featured-projects.block .cards.block.featured ul h3 {
    font-feature-settings: 'clig' 0;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
}

.featured-projects.block .cards.block.featured ul .projets-listing-cat {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.2em;
}

.project-article-template .featured-projects-container.section::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--projet-bg-page-suite);
    width: 100vw;
    height: 300px;
}

.biencommun.project-article-template.featured-projects-container.section::before {
    background-color: var(--biencommun-projet-bg-page-suite);
}

@media (width >= 600px) {
    .featured-projects.block .cards.block.featured ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-article-template .featured-projects-container.section::before {
        margin-top: -40px;
    }
}

@media (width >= 900px) {
    .featured-projects.block .cards.block.featured ul {
        grid-template-columns: repeat(3, 1fr);
    }
}