/* featured-projects.css */
.featured-projects.block .cards.block.featured ul {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .12em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
}

.featured-projects.block .cards.block.featured ul li {
/* Start Generation Here */
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
/* End Generation Here */
}

.featured-projects.block .cards.block.featured ul .cards-card-image p {
    margin: 0;
}

.featured-projects.block .cards.block.featured ul a:has(.image_container) {
    color: var(--site-color-2);
    transition: color 0.5s;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.featured-projects.block .cards.block.featured ul .image_container {
    width: 100%;
    background-size: cover;
    display: inline-block;
    position: relative;
}

.featured-projects.block .cards.block.featured ul .image_container img {
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.featured-projects.block .cards.block.featured ul .projets_listing_partners {
    font-size: 14px;
    line-height: 1.5em;
}

.featured-projects.block .cards.block.featured ul .projets_listing_infos {
    font-size: 14px;
}

.featured-projects.block .cards.block.featured ul h3 {
    font-weight: 400;
    font-feature-settings: 'clig' 0;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000;
}

.featured-projects.block .cards.block.featured ul .projets_listing_cat {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.5em;
}