/* header and nav layout */
header .nav-wrapper {
  min-height: 100px;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 1s ease, position 0s linear 0.4s;
}

header nav {
  background-color: var(--header-color);
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  font-family: var(--body-font-family);
  padding: 20px;
}

header .nav-wrapper.non-sticky {
  transform: translateY(-100%);
}

header nav[aria-expanded='true'] {
  overflow-y: auto;
  min-height: calc(50vh + 100px);
  background-color: var(--menu-open-bg);
}

header nav[aria-expanded='true'] .nav-menu-wrapper{
  padding: 50px 0 80px;
}

header nav[aria-expanded='false'] .nav-logo-wrapper, header nav[aria-expanded='true'] .nav-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center
}

header nav .nav-tools, header nav .nav-sections {
  color: white;
}

header nav[aria-expanded='false'] .nav-tools {
  display: none;
}

header nav[aria-expanded='true'] .nav-tools ul {
  margin: 0;
  padding: 0;
}

header nav .nav-tools ul li {
  list-style: none;
  font-size: 30px;
  padding: 0 20px;
  border: none;
  text-align: center
}

header nav .nav-tools ul li ul li {
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

header nav .nav-tools ul li:nth-child(2){
  margin-top: 15px;
}

header nav a:any-link {
  color: currentcolor;
}

header nav .nav-tools ul li a:any-link {
  background-color: unset;
}


header nav .nav-tools ul li:hover, header nav .nav-tools ul li ul li:hover, header nav .nav-tools ul li ul:hover , header nav .nav-tools ul li ul li a:hover{
  text-decoration: none;
}

header nav .nav-tools ul li ul li:nth-child(2) {
  margin-top: 0;
}


header nav[aria-expanded='true'] .nav-tools ul li ul {
  margin: 10px 0 0 ;
  padding: 0;
}

header nav .nav-tools ul li.active, header nav .nav-tools ul li a.active {
  opacity: 0.7;
}

@media (width >= 900px) {
   header nav {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
  }
  
  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
    padding: 20px 20px 30px;
    align-items: stretch;
    background-color: var(--header-color);
  }

  header nav[aria-expanded='true'].hovered {
    background-color: var(--menu-open-bg);
    transition: all 0.9s ease-in;
  }

  header nav[aria-expanded='true'] .nav-menu-wrapper {
    padding: 0;
  }

  header nav[aria-expanded='true'] .nav-tools ul li {
    font-size: 14px;
  }

  header nav[aria-expanded='true'] .nav-tools ul li:nth-child(2){
    margin-top: 0;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}


/* hamburger */
header nav .nav-hamburger {
  height: 46px;
  width: 46px;
  background-color: #FFF;
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

header nav .nav-brand img {
  width: 150px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  position: absolute;
  right: 80px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .12em;
  margin-top: 1px;
  font-size: 12px;
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-brand img {
    width: 230px;
  }

  header nav .nav-sections {
    font-size: 14px;
  }
}

/* @media (width >= 1200px) {
  header {
    height: 210px;
  }
} */

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}


header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
}

header nav .nav-tools ul li p {
  font-weight: 200;
}

header nav .nav-tools ul li a.button:any-link {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  font-weight: 200;
}

header nav .nav-tools ul li a.button:any-link:hover,  header nav .nav-tools ul li ul li  a.button:any-link:hover, header nav .nav-tools ul li ul.show li:hover{
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}

header nav[aria-expanded='true'] .nav-tools {
    display: flex;
    opacity: 1;
    transition: all 2s ease-in;
    justify-content: center;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav[aria-expanded='true'] .nav-tools {
    justify-content: flex-end;
  }

  header nav .nav-tools ul li a.button:any-link, header nav .nav-tools ul li p {
    font-weight: 600;
  }
}

@media (width >= 900px) {
  header nav .nav-sections {
    right: 20px;
  }

  header nav[aria-expanded='true'] .nav-logo-wrapper {
    width: 10%;
    align-items: start;
  }

  header nav[aria-expanded='true'] .nav-menu-wrapper {
    width: 100%;
  }

  header nav .nav-tools .default-content-wrapper > ul {
    display: flex;
    margin: 0 100px 0 0;
    padding: 0;
  }

  header nav .nav-tools .default-content-wrapper ul li {
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .12em;
  }

  header nav .nav-tools .default-content-wrapper > ul li ul {
    opacity: 0;
    margin: 0;
    padding: 0;
    font-weight: 400;
    max-height: 0;
    transition: all 0.9s ease-in;
  }

  header nav .nav-tools .default-content-wrapper > ul li ul li {
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: start;
  }

  header nav .nav-tools .default-content-wrapper > ul li p {
    cursor: pointer;
  }

  header nav .nav-tools .default-content-wrapper ul li ul.show {
    opacity: 1;
    margin: 10px 0 0;
    padding: 0;
    max-height: 110px;
    cursor: pointer;
  }


  header nav .nav-tools ul li ul.show li:hover{
    text-decoration: none;
    opacity: 0.7;
  }

}

@media (width >= 1200px) {
  header .nav-wrapper {
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: transform 1s ease, position 0s linear 0.4s;
  }

  header .nav-wrapper.non-sticky {
    transform: translateY(-100%);
  }

  header nav {
    min-height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.4s ease-in-out 0s;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
    padding: 100px 80px 30px;
    align-items: stretch
  }

  header nav .nav-brand img {
    width: 230px;
  }

  header nav .nav-sections {
    right: 80px;
  }
}