.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero.no-image * {
  color: var(--text-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.video {
  padding: 0;
}

.hero.video div > div .video-cover { 
  padding: 0;
  height: 1000px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero.video div > div.social-cr-wrapper {
  position: absolute;
  bottom: 37px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  color: #FFF;
  font-size: 10px;
  font-weight: 250;
}

.hero.video div > div.social-cr-wrapper p {
  margin: 0;
  line-height : 13px;
}

.hero.video div > div.social-cr-wrapper .icon {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.hero.video div > div.slide-legend {
  position: absolute;
  bottom: 48px;
  display: inline-block;
  right: 20px;
  z-index: 10;
}

.hero.video div > div.slide-legend > p {
  color: #000;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;;
}

.hero.video div > div.social-cr-wrapper p:last-of-type {
  display: none;
  font-size: 10px;
}

.hero.video div > div.slide-legend > p > a {
  color: #FFF;
}

.hero.video div > div.slide-legend > p > a.any-link {
  text-decoration: none;
  overflow-wrap: break-word;
}

.hero.video div > div.slide-legend > p > a:hover {
  text-decoration: none;
  color: var(--btn-bg);
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }

  .hero.video div > div.social-cr-wrapper { 
    bottom: 29px;
  }

  .hero.video div > div.slide-legend {
    bottom: 48px;
  }

  .hero.video div > div.slide-legend > p {
    font-size: 18px;
  }

  .hero.video div > div.social-cr-wrapper p:last-of-type {
    display: unset;
  }
}

@media (width >= 1200px) {
  .hero.video div > div.social-cr-wrapper {
    bottom: 86px;
    left: 100px;
  }

  .hero.video div > div.slide-legend {
    bottom: 100px;
    right: 100px;
  }

  .hero.video div > div.slide-legend > p {
    font-size: 22px;
  }
}

/* Two-columnar hero block */
.hero.two-columnar.block {
  padding: 0 !important;
  margin-top: 80px;
}

.hero.two-columnar.block > div {
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
  align-items: stretch;
  justify-content: stretch;
  min-height: 300px;
  transform: none;
  padding: 0 !important;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.hero.two-columnar.block > div > div:first-child {
  display: flex;
  flex: 1 1 50%;
  width: 50%;
  align-items: stretch;
  justify-content: center;
  order: 1;
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

.hero.two-columnar.block > div > div:first-child picture,
.hero.two-columnar.block > div > div:first-child img {
  width: 100%;
  object-fit: cover;
  object-position: 54% center;
  display: block;

  /* height: 60vh; */
}

.hero.two-columnar.block > div > div:last-child {
  background: #b9b8b2;
  display: flex;
  flex: 1 1 50%;
  width: 50%;
  min-width: 0;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  order: 2;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.hero.two-columnar.block > div > div:last-child p {
  color: #695D5B;
  font-size: 40px;
  font-family: Antarctica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 700px;
  
}

/* @media (width >= 600px) and (width <= 900px) {
  .hero.two-columnar.block > div > div:first-child,
  .hero.two-columnar.block > div > div:last-child {
    min-height: 75vh;
    height: 75vh;
  }
} */

@media (width >= 600px) {
.hero.two-columnar.block > div {
    position: relative;
    min-height: 300px;
  }

  .hero.two-columnar.block > div > div:first-child {
    flex: 1 1 50%;
    width: 50%;
    min-width: 0;
    min-height: 300px;
    order: unset;  
  }

  .hero.two-columnar.block > div > div:last-child {
    flex: 1 1 50%;
    width: 50%;
    min-width: 0;
    min-height: 300px;
    order: unset; 
    padding: 30px 20px;
  }

  .hero.two-columnar.block > div > div:first-child picture,
  .hero.two-columnar.block > div > div:first-child img {
    position: static !important;
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: cover;
    object-position: 54% center;
    z-index: auto !important;
    inset: unset !important;
  }
}

@media (width >= 1200px) {
  .hero.two-columnar.block > div {
    height: 500px;
    min-height: 200px;
  }

  .hero.two-columnar.block > div > div:first-child {
    height: 500px;
  }

  .hero.two-columnar.block > div > div:last-child {
    height: 500px;
  }
}

@media (width <= 600px) {
  .hero.two-columnar.block > div {
    flex-direction: column;
    min-height: 0;
  }

  .hero.two-columnar.block > div > div:first-child {
    flex: none;
    width: 100%;
    min-width: 0;
    order: unset;
    height: auto;
    min-height: 250px;
  }

  .hero.two-columnar.block > div > div:last-child {
    flex: none;
    width: 100%;
    min-width: 0;
    order: unset;
    height: auto;
    min-height: 200px;
    padding: 20px 16px;
    box-sizing: border-box;
  }

  .hero.two-columnar.block > div > div:last-child p {
    max-width: 100vw;
    font-size: 24px;
  }
}

/* End of two-columnar hero block */


/* Two-columnar-text-image block styles */

.hero.two-columnar-text-image.block {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  overflow: hidden;
  padding: 0 !important;
  margin-top: 95px;
}

.hero.two-columnar-text-image.block > div > div:first-child {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 48px;
  box-sizing: border-box;
  background: #fff;
  min-width: 0;
  background-color: #b9b8b2;
}

/* stylelint-disable-next-line no-descending-specificity */
.hero.two-columnar-text-image.block > div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.hero.two-columnar-text-image.block > div > div:first-child p {
  color: #6B7E7C;
  font-size: 40px;
  font-family: Antarctica,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 800px;
  margin: 0;
}

/* Right column: image */
.hero.two-columnar-text-image.block > div > div:last-child {
  flex: 1 1 0;
  display: flex;
  align-items: stretch;
  justify-content:stretch;
  overflow: hidden;
  min-width: 0;
  background: #fff;
  padding: 0;
}

.hero.two-columnar-text-image.block > div > div:last-child img,
.hero.two-columnar-text-image.block > div > div:last-child picture {
  width: 100%;
  aspect-ratio: 16/9;
  background: #fff;
  object-fit: cover;
  object-position: 54% center;
  display: block;
}


/* Responsive adjustments */

@media (width >= 900px) and (width <= 1200px) {
  .hero.two-columnar-text-image.block > div {
    flex-direction: row;
    min-height: 90vh;
  }
}

@media (width >= 600px) and (width <= 900px) {
  .hero.two-columnar-text-image.block > div {
    flex-direction: row;
    min-height: 500px;
  }

  .hero.two-columnar-text-image.block > div > div:first-child {
    width: 100%;
    min-width: 0;
    min-height: 500px;
    padding: 30px 20px !important;
    order: unset;
  }

  .hero.two-columnar-text-image.block > div > div:last-child {
    width: 100%;
    min-width: 0;
    min-height: 500px;
    padding: 0 !important;
    order: unset;
  }

  .hero.two-columnar-text-image.block > div > div:last-child img,
  .hero.two-columnar-text-image.block > div > div:last-child picture {
    position: static !important;
    z-index: auto !important;
    inset: unset !important;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 54% center;
    display: block;
    place-items: stretch;
  }
}

@media (width <= 600px) {
   .section{
    margin: 0 !important;
  }

  .hero.two-columnar-text-image.block {
  width: 100vw;
  padding: 0 !important;
  margin-top: 20px;
}

.hero.two-columnar-text-image.block > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  width: 100%;
}

   .hero.two-columnar-text-image.block > div > div:first-child {
    flex: none;
    width: 100%;
    min-width: 0;
    min-height: 0;
    order: 2;
    height: auto;
    padding: 30px 20px;
    box-sizing: border-box;
  }

  .hero.two-columnar-text-image.block > div > div:first-child p {
    max-width: 100vw;
    font-size: 24px;
    
  }

  .hero.two-columnar-text-image.block > div > div:last-child {
    flex: none;
    width: 100%;
    min-width: 0;
    min-height: 0;
    order: 1;
    height: 300px;
  }

  
}

/* End of Two-columnar-text-image block styles */

/* Hero Image block styles */

.hero.image.block {
  width: 100vw;
  height: 700px;
  overflow: hidden;
  padding: 0;
}