.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero.no-image * {
  color: var(--text-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero.video {
  padding: 0;
}

.hero.video div > div .video-cover { 
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  overflow: hidden;
}

.hero.video div > div.social-cr-wrapper {
  position: absolute;
  bottom: 25px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  color: #FFF;
  font-size: 10px;
  font-weight: 250;
}

.hero.video div > div.social-cr-wrapper p {
  margin: 0;
}

.hero.video div > div.social-cr-wrapper .icon {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.hero.video div > div.slide-legend {
  position: absolute;
  bottom: 35px;
  display: inline-block;
  right: 20px;
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}

.hero.video div > div.slide-legend > p {
  color: #000;
  margin: 0;
}

.hero.video div > div.slide-legend > p > a {
  color: #FFF;
}

.hero.video div > div.slide-legend > p > a.any-link {
  text-decoration: none;
  overflow-wrap: break-word;
}

.hero.video div > div.slide-legend > p > a:hover {
  text-decoration: none;
  color: var(--btn-bg);
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

@media (width >= 1200px) {
  .hero.video div > div.social-cr-wrapper {
    bottom: 95px;
    left: 100px;
  }

  .hero.video div > div.slide-legend {
    bottom: 100px;
    right: 100px;
    font-size: 22px;
  }
}