.articleintro-container.section {
    margin: 0;
    padding: 0;
}

.articleintro-container.section > div {
    max-width: 100%;
}

.articleintro-container.section .articleintro-wrapper {
    margin: 0;
    padding: 0;
}

.articleintro.block .news-block-header {
    padding: 0;
    margin: 0;
    height: 600px;
}

.articleintro.block .news-block-header .page-hero-image {
  width: 50%;
  float: left;
  height: 100%;
  position: relative;
}

.articleintro.block .news-block-header .page-hero-image-seconde img {
    width: calc(100% - 80px);
    max-width: 500px;
    height: 450px;
    object-fit: cover;
    position: absolute;
}

.articleintro.block .news-block-header .page-hero-image > picture img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: center center;
}

.articleintro.block .news-block-header .page-hero-image .page-hero-image-middle {
    float: right;
    display: block;
    max-width: 500px;
    width: calc(100% - 80px);
    height: 450px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.articleintro.block .news-block-header .page-hero-image .page-hero-image-middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.articleintro.block .news-block-header .news-detail-big-header {
    padding: 100px 20px 60px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    background-color: yellow;
}

.articleintro.block .news-block-header .page-hero-image-seconde {
    padding: 0;
    margin: 0;
    width: 50%;
    background-color: #FFF !important;
    float: left;
    padding-top: 5%;
    position: relative;
}