.table.block {
  width: 100%;
  overflow-x: auto;
}

.table.block table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 600px) {
  .table.block table {
    font-size: var(--body-font-size-s);
  }
}

<<<<<<< Updated upstream
/* Generated CSS, unchanged except for the merged .table selector */
.table.block table,
.table.block table tr,
.table.block table th,
.table.block table td,
.table.block table thead,
.table.block table thead tr,
.table.block table tbody,
=======
@media (width >= 900px) {
  .table.block table {
    font-size: var(--body-font-size-m);
  }
}

.table.block table thead tr {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

>>>>>>> Stashed changes
.table.block table tbody tr {
  border-bottom: 1px solid;
}

.table.block table th {
  font-weight: 700;
}

.table.block table th,
.table.block table td {
  padding: 0.5em;
  text-align: left;
}

<<<<<<< Updated upstream
.table-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

main .table-container .table-wrapper .table.block {
  padding-bottom: 40px;
  border-bottom: 1px solid var(--site-color);
}

.table.block.striped tbody tr,
.table.block.bordered table th,
.table.block.bordered table td {
  border: none;
  background: none;
}

=======
>>>>>>> Stashed changes
.table table th p,
.table table td p {
  margin: 0;
}

.table table td p + p {
  margin-top: 0.25em;
}

/* no header variant */
.table.block.no-header table tbody tr {
  border-top: 1px solid #6B7E7C;
  border-bottom: 1px solid #6B7E7C;
}

<<<<<<< Updated upstream
=======


>>>>>>> Stashed changes
/* bordered variant */
.table.block.bordered table th,
.table.block.bordered table td {
  border: 1px solid;
}

/* Style for tables with the 'report' class */

.view-and-search {
  background-color: #edecea;
  margin: 0 !important;
}

.report.table-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.report.table-container > div > div > table tr:last-child {
  border-bottom: 1px solid transparent;
}

.report.table-container table td:first-child,
.report.table-container table th:first-child,
.report.table-container table td:first-child p,
.report.table-container table th:first-child p  {
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1E1E1E;
  font-size: 20px !important;
  font-family: Antarctica,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}

.report.table-container table td:nth-child(2) p,
.report.table-container table th:nth-child(2) p {
  color: #6B7E7C;
  font-weight: 700;
  font-size: 20px;
}


.report.table-container table td:nth-child(3) a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #839790 !important;
  font-size: 10px !important;
  text-transform: uppercase;
  vertical-align: middle;
  gap: 0.4em;
}

.report.table-container table td:nth-child(3) a svg {
  display: inline;
  margin-left: 0.2em;
  vertical-align: middle;
  max-height: 1em;
}

.report.table-container table td:nth-child(3) {
  white-space: nowrap;
}

/* striped variant */
.table.block.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
<<<<<<< Updated upstream
}

@media (width >= 600px) {
  .table.block table {
    font-size: 22px;
  }

  .table.block strong, 
  .table.block .new-div{
    font-size: 22px;
  }
}

@media (width >= 900px) {
  .table.block tr {
  flex-direction: row;
}

=======
>>>>>>> Stashed changes
}