body.news-article main .section.white-smoke-bg {
    background-color: var(--news-bg-page);
    color: var(--news-sophis-intro);
    padding: 60px 0;
    text-align: center;
    margin: 0;
}

body.news-article main .section.white-smoke-bg .default-content-wrapper {
    max-width: unset;
    margin: auto;
}

body.news-article main .section.white-smoke-bg .default-content-wrapper p {
    font-size: 38px;
    max-width: 48%;
}