body.news-article main .section.white-smoke-bg {
    background-color: var(--news-bg-page);
    color: var(--news-sophis-intro);
    padding: 60px 0;
    text-align: center;
    margin: 0;
}

body.news-article main .section.featured-projects-container {
    padding-bottom: 10vh;
}

body.news-article main .section.white-smoke-bg .default-content-wrapper {
    max-width: unset;
    margin: auto;
}

body.news-article main .section.white-smoke-bg .default-content-wrapper p {
    font-size: 24px;
    max-width: 90%;
    position: relative;
    top: 4vh;
}

body.news-article main .section.details-sidebar.light-grey-bg + * {
    background-color: var(--news-bg-page-suite);
    margin: 0;
  }

body.news-article main .section.white-lilac-bg {
    background-color: var(--news-sophis-bg-text2);
    padding: 40px 0 0;
    margin: 0 0 40px;
}

body.news-article main .section.white-lilac-bg div.default-content-wrapper {
    float: right;
    padding: 0 20px;
}

body.news-article main .section.white-lilac-bg div.default-content-wrapper > p {
    line-height: 1.5em;
    letter-spacing: .04em;
    font-size: 14px;
}

body.news-article main .section.white-lilac-bg div.default-content-wrapper > p > strong {
    color: var(--news-category);
    font-weight: bold;
}

body.news-article main .section.white-lilac-bg div.image-wrapper {
    padding-top: 40px;
    margin-bottom: 40px;
    float: right;
    padding-left: unset;
    padding-right: unset;
}

body.news-article main .section.white-lilac-bg div.image-wrapper p {
    margin-top: 0;
}

body.news-article main .section.white-lilac-bg div.image-wrapper img {
    vertical-align: bottom;
}

body.news-article main .clear {
    clear: both;
}

body.news-article main .section.details-sidebar.right .news-article-inner {
    display: flex;
    flex-direction: column-reverse;
}

body.news-article main .section.details-sidebar .news-article-inner .default-content-wrapper {
    width: 100%;
}

body.news-article main .section.details-sidebar .news-article-inner .default-content-wrapper .button-container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

body.news-article main .news-article-sidebar {
    width: 100%;
}

body.news-article main .news-article-sidebar div {
    color: var(--site-color-2);
    margin-top: 20px;
    margin-bottom: 4px;
}

body.news-article main .news-article-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body.news-article main .section.details-sidebar {
    background-color: var(--news-bg-page-suite);
    margin-top: -240px;
    padding-top: 220px;
    margin-bottom: 0;
}

body.news-article main .section.details-sidebar.right {
    background-color: unset;
}

body.news-article main .section.details-sidebar .news-details {
    display: flex;
}

body.news-article main .section.details-sidebar .news-article-category {
    padding: 10px;
    display: inline-block;
    color: var(--news-button-text-colour);
    font-size: 10px;
    margin-right: 5px;
    letter-spacing: .06em;
    text-transform: uppercase;
    background-color: var(--site-color);
}

body.news-article main .section.details-sidebar .news-details .news-article-date {
    font-size: 10px;
    letter-spacing: .06em;
    display: inline-block;
    align-self: center;
    color: var(--site-color-2);
}

body.news-article main .section.details-sidebar h1 {
    color: var(--site-color);
    text-align: left;
    font-weight: 400;
    font-feature-settings: 'clig' 0;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
    font-size: 30px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    text-transform: uppercase;
}

body.news-article main .section.details-sidebar .news-article-inner .clear {
    clear: both;
    content: "";
    display: table;
}

body.news-article main .section.details-sidebar .news-article-inner a {
    text-decoration: none;
    color: var(--text-color);
}

body.news-article main .section.details-sidebar.right + * li {
    background-color: white;
}

body.news-article main .section.details-sidebar + * li {
    background-color: var(--news-bg-page-suite);
}

body.news-article main .section.details-sidebar .news-article-inner a:hover {
    opacity: 0.7;
}

body.news-article main .section.details-sidebar .button-wrapper {
    text-align: center;
    padding: 5vh 0;
    max-width: 100%;
}

body.news-article main .section.details-sidebar .button-wrapper .button-container a{
    background-image: url('/icons/btn_fleche_right.svg');
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    padding: 13px 50px 13px 15px;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    background-color: var(--site-color);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    letter-spacing: .12em;
    font-weight: 500;
    text-align: center;
    min-width: 270px;
    line-height: normal;
    border-radius: 0;
    margin: 0;
}

body.news-article main .section.details-sidebar.right .news-article-inner .default-content-wrapper p {
    line-height: 1.5em;
    padding-bottom: 20px;
    letter-spacing: .02em;
}

body.news-article main .section.details-sidebar.right .news-article-inner .default-content-wrapper p:nth-child(1) {
    color: var(--chiffres-bloc-btn);
    font-weight: bold;

}

body.news-article main .section.details-sidebar.right .news-article-inner .default-content-wrapper p:nth-child(1) strong {
    color: var(--news-category);
    font-size: 14px;
}

@media (width >= 600px) {
    body.news-article main .section.details-sidebar .news-article-sidebar {
        width: 280px;
        box-sizing: border-box;
        font-size: 16px;
        padding-right: 50px;
        float: left;
        font-weight: 300;
    }

    body.news-article main .section.details-sidebar.right .news-article-sidebar {
        float: right;
        padding: 0 0 0 50px;
    }

    body.news-article main .section.details-sidebar .news-article-inner {
        box-sizing: border-box;
        position: relative;
        margin: auto;
        max-width: 1440px;
    }

    body.news-article main .section.details-sidebar.right .news-article-inner {
        flex-direction: row-reverse;
    }

    body.news-article main .section.details-sidebar h1 { 
        font-size: 50px;
    }

    body.news-article main .section.details-sidebar .news-article-inner .default-content-wrapper{
        width: calc(100% - 280px);
        float: right;
    }

    body.news-article main .section.details-sidebar.right .news-article-inner .default-content-wrapper{
        width: calc(100% - 280px);
        float: left;
    }

    body.news-article main .section.white-smoke-bg .default-content-wrapper p {
        font-size: 38px;
    }

    body.news-article main .section.white-lilac-bg {
        padding: 90px 0 0;
        margin: 0 0 50px;
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper {
        width: calc(100% - 280px);
        box-sizing: border-box;
    }

    body.news-article main .section.white-lilac-bg div.image-wrapper {
        padding-top: 15px;
        margin-bottom: 0;
    }

    body.news-article main .section.white-lilac-bg div.image-wrapper p {
        margin-bottom: 0;
    }

    body.news-article main .section.details-sidebar.right .news-article-inner .default-content-wrapper p:nth-child(1) strong {
        font-size: 20px;
    }
}

@media (width >= 900px) {
    body.news-article main .section.white-smoke-bg .default-content-wrapper p {
        font-size: 38px;
        max-width: 48%;
        top: unset;
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper {
        padding: 0 80px;
        width: calc(100% - 380px);
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper > p {
        font-size: 20px;
    }

    body.news-article main .section.details-sidebar .news-article-sidebar {
        width: 380px;
    }

    body.news-article main .section.details-sidebar .news-article-inner .default-content-wrapper, body.news-article main .section.details-sidebar.right .news-article-inner .default-content-wrapper{
        width: calc(100% - 380px);
    }
}

@media (width >= 1200px) {
    body.news-article main .section.white-smoke-bg .default-content-wrapper p {
        font-size: 38px;
        max-width: 48%;
        top: unset;
    }

    body.news-article main .section.white-lilac-bg {
        margin: 0 0 140px;
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper {
        max-width: 900px;
        box-sizing: unset;
    }

    body.news-article main .section.white-lilac-bg div.image-wrapper {
        margin-bottom: -90px;
        max-width: unset;
    }
}