body.news-article main .section.white-smoke-bg {
    background-color: var(--news-bg-page);
    color: var(--news-sophis-intro);
    padding: 60px 0;
    text-align: center;
    margin: 0;
}

body.news-article main .section.white-smoke-bg .default-content-wrapper {
    max-width: unset;
    margin: auto;
}

body.news-article main .section.white-smoke-bg .default-content-wrapper p {
    font-size: 24px;
    max-width: 90%;
    position: relative;
    top: 4vh;
}

body.news-article main .section.white-lilac-bg {
    background-color: var(--news-sophis-bg-text2);
    padding: 40px 0 0;
    margin: 0 0 40px;
}

body.news-article main .section.white-lilac-bg div.default-content-wrapper {
    float: right;
    padding: 0 20px;
}

body.news-article main .section.white-lilac-bg div.default-content-wrapper > p {
    line-height: 1.5em;
    letter-spacing: .04em;
    font-size: 14px;
}

body.news-article main .section.white-lilac-bg div.image-wrapper {
    padding-top: 40px;
    margin-bottom: 40px;
    float: right;
    padding-left: unset;
    padding-right: unset;
}

body.news-article main .section.white-lilac-bg div.image-wrapper p {
    margin-top: 0;
}

body.news-article main .section.white-lilac-bg div.image-wrapper img {
    vertical-align: bottom;
}

body.news-article main .clear {
    clear: both;
}

@media (width >= 600px) {
    body.news-article main .section.white-smoke-bg .default-content-wrapper p {
        font-size: 38px;
    }

    body.news-article main .section.white-lilac-bg {
        padding: 90px 0 0;
        margin: 0 0 50px;
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper {
        width: calc(100% - 280px);
        box-sizing: border-box;
    }

    body.news-article main .section.white-lilac-bg div.image-wrapper {
        padding-top: 15px;
        margin-bottom: 0;
    }

    body.news-article main .section.white-lilac-bg div.image-wrapper p {
        margin-bottom: 0;
    }
}

@media (width >= 900px) {
    body.news-article main .section.white-smoke-bg .default-content-wrapper p {
        font-size: 38px;
        max-width: 48%;
        top: unset;
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper {
        padding: 0 80px;
        width: calc(100% - 380px);
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper > p {
        font-size: 20px;
    }
}

@media (width >= 1200px) {
    body.news-article main .section.white-smoke-bg .default-content-wrapper p {
        font-size: 38px;
        max-width: 48%;
        top: unset;
    }

    body.news-article main .section.white-lilac-bg {
        margin: 0 0 140px;
    }

    body.news-article main .section.white-lilac-bg div.default-content-wrapper {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: unset;
        float: unset
    }

    body.news-article main .section.white-lilac-bg div.image-wrapper {
        margin-bottom: -90px;
        max-width: unset;
    }
}