footer {
  background-color: var(--footer-color);
  font-size: var(--body-font-size-xs);
  position: relative;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 20px;
  font-size: 10px;
  color: white;
}

footer .footer .icon img {
  width: 40px;
  height: 40px;
  padding-bottom: 5px;
}

footer .footer a:any-link {
  color: white;
}

footer .footer a:hover {
  text-decoration: none;
  color: #839790;
}

footer .footer ul {
  margin-left: -40px;
}

footer .footer ul > li {
  display: inline-block;
  list-style-type: none;
}

footer .footer .section.footer-general {
  line-height: 1em;
  font-weight: 300;
}

footer .footer .section.footer-general ul > li:not(:last-child) > a::after {
  content: '|';
  color: white;
  padding: 0 4px;
}

footer .footer .section.footer-menu {
  font-weight: 500;
  letter-spacing: .02em;  
  font-size: 14px;
}

footer .footer .section.footer-menu ul > li:not(:last-child) > a::after{
  content: '|';
  color: black;
  padding: 0 4px;
}

@media (width > 930px) {
  footer .footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
  }

  footer .footer .section.footer-general {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  
  footer .footer .section.footer-general .icon {
    margin-right: 30px;
  }

  footer .footer .section.footer-menu {
    font-size: 22px;
  }
}