.home-projects-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}

.home-projects.block .project-article {
    font-size: 18px;
    position: relative;
}

.project-article > div {
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
    box-sizing: border-box;
}

.home-projects.block .project-article p {
    padding: 0 !important;
    margin: 0 !important;
}

.home-projects.block .project-article .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 0;
    box-sizing: border-box;
}

.home-projects.block .project-article div.project-image {
    box-sizing: border-box;
    margin: 0 auto;
}

.home-projects.block .project-article div.project-image img {
    width: 100%;
    aspect-ratio: 3 / 2;
}

.home-projects.block .project-article .project-metadata {
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

body.biencommun .home-projects.block .project-article .project-metadata {
    color: var(--biencommun-projet-bloc-titre);
}

.home-projects.block .project-article .project-metadata .category-location-duration {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
    letter-spacing: .06em;
    font-weight: 400;
    line-height: normal;
}

.home-projects.block .project-article .project-metadata h3 {
    color: var(--projet-bloc-titre);
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 400;
    font-feature-settings: 'clig' 0;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
}

body.biencommun .home-projects.block .project-article .project-metadata h3 {
    color: var(--biencommun-projet-bloc-titre);
}

.home-projects.block .project-article .project-metadata .featured-content {
    line-height: 1.5em;
    padding-bottom: 20px;
    letter-spacing: .02em;
}

.home-projects.block .project-article .project-metadata .buttons-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-projects.block .project-article .project-metadata .buttons-container a {
    width: 100%;
    background-image: url('/icons/btn_fleche_right.svg');
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    padding: 13px 50px 13px 15px;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    letter-spacing: .12em;
    font-weight: 500;
    line-height: normal;
    transition: color 0.5s;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background-color: var(--site-color);
}

.home-projects.block .project-article .project-metadata .buttons-container a:first-of-type {
    background-color: var(--projet-bloc-btn-first);
}

body.biencommun .home-projects.block .project-article .project-metadata .buttons-container a:first-of-type {
    background-color: var(--biencommun-projet-bloc-btn-first);
}

body.biencommun .home-projects.block .project-article .project-metadata .buttons-container a:last-of-type {
    background-color: var(--biencommun-titre);
}

.home-projects.block .project-article:first-child {
    background-color: var(--projet-bg-odd);
}

.home-projects.block .project-article:nth-child(even) {
    background-color: var(--projet-bg-even);
}

body.biencommun .home-projects.block .project-article:first-child {
    background-color: var(--biencommun-projet-bg-odd);
}

body.biencommun .home-projects.block .project-article:nth-child(even) {
    background-color: var(--biencommun-projet-bg-even);
}



@media (width >= 900px) {
    .project-article > div {
        max-width: 1440px;
        padding: 0 80px;
        margin: auto;
        box-sizing: border-box;
    }

    .home-projects.block .project-article .parent-container {
        flex-direction: row;
    }

    .home-projects.block .project-article div.project-image {
        box-sizing: border-box;
        width: 48%;
        flex: 0 0 48%;
    }

    .home-projects.block .project-article .project-metadata .buttons-container {
        flex-direction: column;
        width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
    }

    .home-projects.block .project-article .project-metadata .buttons-container a {
        width: 100%;
    }
}

@media (width > 900px) and (width < 1340px) {
    .home-projects.block .project-article .project-metadata .buttons-container {
        position: relative;
    }

    .home-projects.block .project-article .project-metadata {
        width: 48%;
        max-width: calc(50vw - 80px);
        overflow: hidden;
    }
}

@media (width >= 1340px) {
    body.biencommun .home-projects.block .project-article p {
        height: 500px;
    }

    .home-projects.block .project-article div.project-image a div {
        min-height: 400px;
    }

    .home-projects.block .project-article .project-metadata .buttons-container {
        position: absolute;
        flex-direction: row;
        width: calc(51vw - 33px);
        bottom: 0;
        right: 0;
    }

    .home-projects.block .project-article .project-metadata .buttons-container a {
        width: 50%;
    }

}