/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #1E1E1E;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --listing-card-logo-color: #fffc;
  --body-font-family: 'Antarctica', sans-serif;
  --heading-font-family: 'Antarctica', sans-serif;
  --body-font-size-m: 18px;
  --body-font-size-s: 16.6px;
  --body-font-size-xs: 13.4px;
  --heading-font-size-xxl: 50px;
  --heading-font-size-xl: 50px;
  --heading-font-size-l: 40px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16.6px;
  --heading-font-size-xs: 13.4px;
  --nav-height: 95px;
  --header-height: var(--nav-height);

  /* original site colors */
  --site-color: #6B7E7C;
  --site-color-2: #839790;
  --header-color: rgb(107 126 124 / 85%);
  --header-color-over: rgb(107 126 124 / 100%);
  --footer-color: #6B7E7C;	
  --titre: #6B7E7C; 
  --btn-bg: #c5cbcb;


  /* MENU OPEN */
  --menu-open-bg: #6b7e7c;  

  /* HOME CAROUSEL */
  --carousel-bg-box1: #d8d8d7;  
  --carousel-bg-box2: #b1afa1;  


  /* HOME PROJETS */
  --projet-bg-odd: #dbd9d3; 
  --projet-bg-even: #ccd5d3;
  --projet-bloc-titre: #6B7E7C;
  --projet-bloc-btn-first: #9D9B88;

  /* HOME NEWS */
  --news-over-filtre: rgb(148 127 95 / 20%); 	

  /* HOME CHIFFRES */
  --chiffres-bloc-bg: #e1e3e0;
  --chiffres-bloc-btn: #525252;
  --chiffres-bloc-btn-bg: #d3cdbf; 

  /* EVENTS PROJETS */
  --projet-bg-page-listing: #edecea;
  --projet-bg-intro: #b9b8b2;
  --projet-bg-intro-even: #c4c3b8; 
  --projet-intro-texte: #6B7E7C;   
  --projet-bg-page: #edecea;  
  --projet-bg-page-suite: #dcdcdc;   


  /* NEWS LISTING */
  --news-bg-bien: #918063; 
  --news-bg-arbres: #6f7d7c;
  --news-bg-enavant: #d3cec7;

  /* NEWS PAGE */	
  --news-bg-page: #eae8e9; 
  --news-bg-page-suite: #f2f2f3;  
  --news-category: #947f5f;

  /* NEWS PAGE SOPHISTIQUEE */	
  --news-sophis-bg-intro: #e1e5e6; 
  --news-sophis-intro: #6b7e7c; 
  --news-sophis-bg-text: #6b7e7c; 
  --news-sophis-bg-text2: #e9e7ea; 	
    
  /* TEAM PAGE */	
  --team-bg-page: #f8f7f2; 
  --team-cat-titre: #857873;
  --team-bg-btn: #a49e92;
    
  /* TEAM PARTENAIRES */	
  --partenaires-bg: #f8f7f2; 	
  --partenaires-bg-bloc: #e1e5e6;
    
  /* PAGE BLOC */
  --page-bloc-full: #d8d7d0; 	
  --page-bloc-bg-pictos: #e2e5e5;
  --page-bloc-pictos-bg: #6f7d7c;
  --page-bloc-btn-bg: #afb4ad;
  --page-bloc-btn: #525252;

  /* PAGE BLOC COLOR */
  --page-bloc-color-header: #9aa198;

  /* MEDIAS */	
  --medias-bg: #edecea;
      
  /* NEWSLETTER BLOC */	
  --newsletter-bg: #c4c3b9;   
  --newsletter-titre: #72676B;
  --news-button-text-colour: #fff;
      
  /* FLECHE TO TOP */	    
  --fleche-to-top-bg: rgb(107 126 124 / 85%); 
    
  /* DROPDOWN */	    
  --dropdown-bg: #c5cbcb; 
    
  /* MAP */	    
  --map-box-bg: rgb(159 165 157 / 90%); 	
  --map-box-partenaires: #363f3e;	
  --map-carte-icone-container: #E2E5E5;

  /* BODY */
  --body-font-size: 20px;
  --body-line-height: 1.5em;
  --body-font-weight: 200;

  /* SECTIONS */
  --section-background-color: #d7d9d6;
  --default-colored-text: #726248;

  /* POLICY TEMPLATE */
  --policy-template-link-color: #947F5F;
  --policy-template-borders: #A49F94;

  /* LANDING PAGE */
  --input-color: #303030;
  --input-selected-color: #5a626b;
  --input-placeholder-color: #B69859;
}

/* fallback fonts */
@font-face {
  font-family:"Antarctica Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:90.30%;
  descent-override:20.57%;
  line-gap-override:29.12%;
  size-adjust:93.58%;
}

@font-face {
  font-family:"Antarctica Fallback";
  font-style:normal;
  font-weight:300;
  src:local("Arial");
  ascent-override:78.69%;
  descent-override:17.93%;
  line-gap-override:25.38%;
  size-adjust:107.38%;
}

@font-face {
  font-family:"Antarctica Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:90.56%;
  descent-override:20.63%;
  line-gap-override:29.20%;
  size-adjust:93.31%;
}

@font-face {
  font-family:"Antarctica Fallback";
  font-style:normal;
  font-weight:500;
  src:local("Arial");
  ascent-override:86.11%;
  descent-override:19.62%;
  line-gap-override:27.77%;
  size-adjust:98.13%;
}

@font-face {
  font-family:"Antarctica Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:80.18%;
  descent-override:18.27%;
  line-gap-override:25.86%;
  size-adjust:105.39%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 18px;
    --body-font-size-s: 16.6px;
    --body-font-size-xs: 13.4px;
    --heading-font-size-xxl: 50px;
    --heading-font-size-xl: 50px;
    --heading-font-size-l: 40px;
    --heading-font-size-m: 18px;
    --heading-font-size-s: 16.6px;
    --heading-font-size-xs: 13.4px;
  }

  h2 {
    font-size: var(--heading-font-size-xl);
  }

  main p {
    font-size: var(--body-font-size-m);
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateX(20%);
  transition: all 1.5s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateX(0);
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

/* header {
  height: var(--nav-height);
} */

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  color: var(--site-color);
  text-transform: uppercase;
  letter-spacing: .08em;
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

main p {
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: var(--body-line-height);
  font-weight: var(--body-font-weight);
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

main > .section.extra-padding {
  padding: 50px 0;
  margin: 0;
}

main .section.cream-bg {
  padding: 80px 0;
  background-color: var(--team-bg-page);
}

main .section.light-grey-bg {
  background-color: var(--news-sophis-bg-intro);
}

main .section.light-grey-bg.float-right {
  max-width: 100%;
}

 main .section.float-right {
  padding: 65px 0 50px;
  margin: 0;
}

 main .section.float-right .default-content-wrapper {
  color: var(--text-color);
  padding: 0 20px;
}

main .section.float-right .default-content-wrapper .container-col {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

 main .section.float-right .default-content-wrapper .heading-wrapper {
  width: calc((((100% - (12*30px))/12)*12) + (11 * 30px));
  box-sizing: border-box;
  float: left;
  margin: 15px;
}

 main .section.float-right .default-content-wrapper .heading-wrapper h1{
  position: relative;
  margin: 15px 0;
  box-sizing: border-box;
  color: var(--site-color);
  text-transform: uppercase;
  font-weight: 400;
  font-feature-settings: 'clig' 0;
  font-style: normal;
  line-height: 1.2em;
  letter-spacing: .08em;
  font-size: 36px;
}

 main .section.float-right .default-content-wrapper .content-wrapper{
  width: calc((((100% - (12 * 30px)) / 12) * 12) + (11 * 30px));
  float: right;
  margin: 15px;
  box-sizing: border-box;
}

main .section.soft-grey-bg.default-colored-text p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: var(--default-colored-text);
}

.policy-template main .section .default-content-wrapper li {
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: 300;
}

main .section.float-right .default-content-wrapper .content-wrapper ul li{
  list-style: none;
  padding-left: 120px;
  position: relative;
  margin-bottom: 12px;
}

main .section.float-right .default-content-wrapper .content-wrapper ul li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #947F5F;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 10px;
  left: 100px;
  border-radius: 500px;
}

.policy-template main .default-content-wrapper p strong em {
  letter-spacing: 0.01em;
  font-weight: 450;
  color: var(--policy-template-link-color);
}

main .section.float-right .default-content-wrapper .content-wrapper ul li em {
  color: var(--site-color);
  font-style: unset;
}

 main .section.float-right .default-content-wrapper .clear {
  clear: both;
}

@media (width>=900px) {
  main > .section.extra-padding {
    padding: 100px 0;
    margin: 0;
  }

  main>.section>div {
    padding: 0 80px;
  }

  main p {
    font-size: var(--body-font-size-m);
  }

  main h2 {
    font-size: var(--heading-font-size-xl);
  }

  main .section.float-right .default-content-wrapper {
    padding: 0;
  }

  main .section.float-right {
    padding: 65px 80px 50px;
    margin: auto;
    max-width: 1200px;
  }

  main .section.float-right .default-content-wrapper .heading-wrapper{
    width: calc((((100% - (12*30px))/12)*9) + (8 * 30px));
  }

  main .section.float-right .default-content-wrapper .heading-wrapper h1 {
    font-size: 50px;
  }

   main .section.float-right .default-content-wrapper .content-wrapper{
    width: calc((((100% - (12*30px))/12)*9) + (8 * 30px));
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}

/* H2 Animation Styles */
.animate {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animate.aos-animate {
  opacity: 1;
  transform: translateX(0);
}

/* Back to top button */

  .page-level-btn {
    position: fixed;
    right: 80px;
    width: 4rem;
    height: 4rem;
    background-color: var(--fleche-to-top-bg);
    border-radius: 5000px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s ease, visibility 1s ease;
  }

  .page-level-btn.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

  @media (width < 600px) {
    .page-level-btn {
      right: 20px;
      width: 3rem;
      height: 3rem;
    }
  }

/* project article page styles */
.details-sidebar.light-grey-bg {
  background-color: var(--projet-bg-page);
}

.details-sidebar.grey-bg {
  background-color: var(--projet-bg-page-suite);
}

/* SECTIONS */
.section.soft-grey-bg {
  background-color: var(--section-background-color);
}

main .section.light-grey-bg:has(.cards-wrapper) {
  padding: 100px;
  margin: 100px 0 0;
}

main .section.light-grey-bg .cards-wrapper {
  padding: 50px 80px;
  max-width: 1200px;
}

main .section.light-grey-bg:has(.cards-wrapper) .default-content-wrapper {
    max-width: 1200px;
    padding: 0 80px;
}

.policy-template main .default-content-wrapper h2 {
  padding-top: 60px;
}

main .section.light-grey-bg .default-content-wrapper h2 {
  margin: 0;
}

/* Default button styles */
main .section.light-grey-bg .default-content-wrapper .button-container {
  text-align: center;
  margin: 0 auto;
}

.cta-section {
  padding-bottom: 50px;
}

.cta-section p.button-container {
  text-align: center;
  margin-top: 30px;
}

.cta-section p.button-container a.button:any-link {
  background-color: var(--page-bloc-btn-bg);
  background-image: url('/icons/btn_fleche_right.svg');
  border-radius: unset;
  overflow: unset;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  padding: 13px 50px 13px 15px;
  font-size: 12px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  letter-spacing: .12em;
  font-weight: 500;
  text-align: center;
  min-width: 270px;
  line-height: normal;
  color: var(--page-bloc-btn);
}

@media (width >= 900px) {
  .cta-section .default-content-wrapper p:first-child {
    margin-left: 30%;
    width: 70%;
  }
}

main .section.quote-container .quote-wrapper {
  margin-bottom: 30px;
}

main .section.light-grey-bg .default-content-wrapper p.button-container a.button {
  background-color: var(--page-bloc-btn-bg);
  background-image: url('/icons/btn_fleche_right.svg');
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  padding: 13px 50px 13px 15px;
  border-radius: unset;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .12em;
  line-height: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  color: var(--page-bloc-btn);
  text-align: center;
  overflow: unset;  
  min-width: 270px;
  margin: 0;
}

@media (width >= 900px) {
  main .section.soft-grey-bg.default-colored-text p {
    font-size: 20px;
  }
}

.policy-template main .section .default-content-wrapper p:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--policy-template-borders);
}

.policy-template main .section:last-of-type .default-content-wrapper p:last-child {
  border-bottom: none;
}

.policy-template main .section .default-content-wrapper li::marker {
  color: var(--policy-template-borders);
}

.policy-template main .default-content-wrapper p u,
.policy-template main .default-content-wrapper p strong u {
  text-decoration: none;
  color: var(--default-colored-text);
}

.policy-template main .default-content-wrapper p a {
  color: var(--site-color-2);
  transition: color 0.5s;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.policy-template main .default-content-wrapper p em a {
  color: black;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  font-style: normal;
}

.policy-template main .default-content-wrapper p strong {
  font-weight: bold;
}

.policy-template main .default-content-wrapper p strong u {
  font-weight: bold;
  color: var(--policy-template-link-color);
}

main .section.cream-bg.table-container.accordion-container .default-content-wrapper h2{
    color: var(--team-cat-titre);
    font-size: var(--heading-font-size-l);
    margin-bottom: 50px;
    padding: 15px 0;
}

main .section.cream-bg.table-container.accordion-container .default-content-wrapper:nth-child(1) h2 {
    margin-top: 30px;
}

main .section.cream-bg.table-container.accordion-container .default-content-wrapper:nth-child(3) h2 {
    margin-top: 60px;
}

@media (width >= 900px) {
  .policy-template main .default-content-wrapper h2 {
    padding-top: 100px;
  }

  .policy-template main .section .default-content-wrapper li {
    font-size: var(--body-font-size-m);
  }
}

