.project-article-template .details-sidebar {
    display:flex
}

.project-article-template .details-sidebar .project-article-sidebar {
    width: 380px;
    box-sizing: border-box;
    float: left;
    font-size: 16px;
    padding-right: 50px;
}

.project-article-template .details-sidebar .project-article-sidebar  div {
    color: var(--site-color-2);
    margin-top: 20px;
    margin-bottom: 4px;
}

.project-article-template .details-sidebar .project-article-sidebar  div:first-child {
    margin-top: 0;
}


@media (width >= 1200px) { 
    .project-article-template .section.hero-container {
        margin: 0;
    }

    .project-article-template .details-sidebar {
        margin: 0;
        padding: 80px 0;
    }

  .project-article-template .details-sidebar .project-article-inner {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    max-width: 1440px;
    padding: 0 80px;
  }

    .project-article-template .details-sidebar .project-article-inner h1 {
        opacity: 1;
        transform: translateZ(0);
        color: var(--site-color);
        text-align: left;
        margin-bottom: 40px;
        font-weight: 400;
    }
}