main .section.details-sidebar h1 {
    color: var(--site-color);
    text-align: left;
    margin-bottom: 40px;
    font-weight: 300;
    font-feature-settings: 'clig' 0;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
    font-size: 30px;
    margin-top: 0;
}

.project-article-template .details-sidebar .project-article-inner h1 {
    color: var(--site-color);
    text-align: left;
    margin-bottom: 40px;
    font-weight: 400;
    font-feature-settings: 'clig' 0;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: .08em;
    font-size: 30px;
    margin-top: 40px;
}

body.biencommun main .section.details-sidebar h1 {
    color: var(--biencommun-site-color);
}

.project-article-template .details-sidebar.light-grey-bg {
    display:flex;
    margin: 0;
    padding: 0;
    background-color: var(--projet-bg-page);
}

.project-article-template .details-sidebar.light-grey-bg + .section.carousel-container {
    background-color: var(--projet-bg-page);
}

.project-article-template .details-sidebar .project-article-sidebar {
    width: 100%;
    box-sizing: border-box;
    float: left;
    font-size: 16px;
    padding-right: 50px;
    margin-bottom: 60px;
    line-height: normal;
    font-weight: 300;
}

.project-article-template .details-sidebar .project-article-inner {
    padding: 40px 20px 80px;
}

.project-article-template .details-sidebar .project-article-inner .clear{
    clear: both;
}

.biencommun.project-article-template .details-sidebar .project-article-inner h1 {
    color: var(--biencommun-site-color);
}

.biencommun.project-article-template .details-sidebar {
    background-color: var(--biencommun-projet-bg-page);
}

.project-article-template .details-sidebar .project-article-sidebar  div {
    color: var(--site-color-2);
    margin-top: 20px;
    margin-bottom: 4px;
    line-height: normal;
}

.biencommun.project-article-template .details-sidebar .project-article-sidebar  div {
    color: var(--biencommun-site-color-2);
}

.project-article-template .details-sidebar .project-article-sidebar  div:first-child {
    margin-top: 0;
}

.project-article-template .details-sidebar .project-article-sidebar ul li , .project-article-template .details-sidebar .project-article-sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-article-template .details-sidebar .project-article-inner .default-content-wrapper {
    width: 100%;
}

.project-article-template .details-sidebar .project-article-inner .default-content-wrapper p {
    margin: 0;
    line-height: 1.5em;
    padding-bottom: 20px;
    letter-spacing: .02em;
    font-weight: 300;
}

.project-article-template .details-sidebar .project-article-inner a {
    color: var(--text-color);
}

@media (width >= 600px) {
    main .section.details-sidebar h1 {
        font-size: 50px;
    }

    .project-article-template .details-sidebar .project-article-sidebar {
        width: 260px;
    }

    .project-article-template .details-sidebar .project-article-inner {
        padding: 40px 24px;
    }

    .project-article-template .details-sidebar .project-article-inner .default-content-wrapper {
        width: calc(100% - 280px);
        float: right;
    }

    .project-article-template .details-sidebar .project-article-inner h1 {
        font-size: 50px;
    }
}

@media (width >= 900px) {
    .project-article-template .details-sidebar .project-article-sidebar {
        width: 380px;
    }

    .project-article-template .details-sidebar .project-article-inner {
        padding: 40px 80px 80px;
    }

    .project-article-template .details-sidebar .project-article-inner .default-content-wrapper {
        width: calc(100% - 380px);
        float: right;
    }

    .project-article-template main .details-sidebar .project-article-inner .default-content-wrapper p {
        line-height: 1.5em;
        padding-bottom: 20px;
        letter-spacing: .02em;
        font-size: 20px;
    }
}

@media (width >= 1200px) { 
    .project-article-template .section.hero-container {
        margin: 0;
    }

    .project-article-template .details-sidebar {
        margin: 0;
        padding: 80px 0;
    }
}

@media (width >= 600px) and (width <= 1200px) {
    .project-article-template main .section.hero-container {
        margin: 0;
    }

    .project-article-template main .section.light-grey-bg.details-sidebar {
        padding-top: 40px;
    }
}